<h1>3 Exercises</h1>
<%= link_to("Add New Exercise", new_exercise_path)%>
<ul>
<% @exercises.each do|e|%>
	<li><%=link_to(e.title,exercise_path(e.id))%></li>
	<li><%=e.descriere%></li>
	<li><%=format_dificultate(e)%></li>
	<li><%=e.categorie%></li>
	<li>Data postarii: <%= e.data_postarii%></li>
	<%end%>
</ul>	